<p id="notice"><%= notice %></p>

<h1>Registered Players</h1>
<ul>
  <% @event.players.each do |player| %>
    <li><%= player.name %></li>
  <% end %>
</ul>
<p><%=link_to "Register Players", register_players_url %></p>

<h1>Matches</h1>

<table>
  <thead>
  <tr>
    <th>Round</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%
     match_groups = @matches.group_by {|m| m.round}
     match_groups.each do |round, match_group|
       ended_matches = match_group.group_by {|mm| mm.valid?}%>
      <tr><td>PENDING</td></tr>
      <% if pending_matches = ended_matches[false] %>
          <% pending_matches.each do |pending_match| %>
          <%= render partial: 'match_row', locals: {match: pending_match, round: round} %>
          <% end %>
      <% end %>

      <tr><td>COMPLETE</td></tr>
      <% if complete_matches = ended_matches[true] %>
          <% complete_matches.each do |complete_match| %>
              <%= render partial: 'match_row', locals: {match: complete_match, round: round} %>

          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>

<table>
    <thead>
    <tr>
    <td>Name</td>
    <td>Tournament Points</td>
    <td>SOS</td>
    <td>CPs</td>
    </tr>
    </thead>
  <tbody>
  <% @scoreboard.each do |name, points, sos, cps| %>
    <tr>
      <td><%= name %></td>
      <td><%= points %></td>
      <td><%= sos %></td>
      <td><%= cps %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= form_tag(create_event_round_path(event_id: @event.id), method: "post") do %>
    <%= submit_tag("Generate Next Round") %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
